<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0ASgBBAFYASQBEAEUAUwBLAFQATwBQAFwAUwBRAEwARQBYAFAAUgBFAFMAUwA7AEkAbgBpAHQAaQBhAGwAIABDAGEAdABhAGwAbwBnAD0AcwBxAGwAXwBhAHYAYQBuAHoAYQBkAG8AOwBQAGUAcgBzAGkAcwB0ACAAUwBlAGMAdQByAGkAdAB5ACAASQBuAGYAbwA9AFQAcgB1AGUAOwBVAHMAZQByACAASQBEAD0AYQBwAHAAcwA7AFAAYQBzAHMAdwBvAHIAZAA9AGEAcABzADEAMAAzADEA" name="sql_avanzado" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>