<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0ASgBBAFYASQBEAEUAUwBLAFQATwBQADsASQBuAGkAdABpAGEAbAAgAEMAYQB0AGEAbABvAGcAPQBzAHEAbABfAGEAdgBhAG4AegBhAGQAbwA7AFAAZQByAHMAaQBzAHQAIABTAGUAYwB1AHIAaQB0AHkAIABJAG4AZgBvAD0AVAByAHUAZQA7AFUAcwBlAHIAIABJAEQAPQBhAHAAcABzADsAUABhAHMAcwB3AG8AcgBkAD0AYQBwAHMAMQAwADMAMQA=" name="sql_avanzado" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>